.App {
    padding: 5px;
}

.header {
    text-align: center;
}

.search-form {
    max-width: 900px;
    margin: 0 auto 20px;
}

.search-form__input {
    width: 400px;
}

.search-form__input__wrapper {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.search-form__button {

}